
<div class="header">
    <div class="header-top header-top__bg">
        <div class="block-left">
        <div class="header-top__logo">
            <a class='navbar-brand'>
                <img src="assets/images/logo.png" alt="Logo">
            </a>
        </div>
        </div>
        <div class="block-right">
        <div class="header-top__menu">
            <div class="header-top__menu-item">schedule an appointment</div>
            <div class="header-top__menu-item">Locate a service center</div>
        </div>
        <div class="header-top__phone">
            <p class="header-top__phone-text">
                <span class="font-grey-l">your aamco is</span>
                <span class="font-grey-d">taylorsville ut</span>
            </p>
            <span class="header-top__phone-number">(801) 783.32.80</span>
        </div>
        </div>       
    </div>
    <hr/>
    <div class="row navbarb">
        <div class="col">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">TRANSMISSION SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">AUTO CARE & REPAIR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CORPORATE FLEET SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">EXTENDED WARRANTY SERVICES</a>
                </li>
            </ul>
        </div>
    </div> 
    <div class="header-bottom">
        <div class="header-bottom__content">
            <h1>
                Schedule your next appoimtment
            </h1>
            <div class="header-bottom__content-comment">Scroll down for details</div>
            <div class="arrow-down">
                <span class="glyphicon glyphicon-menu-down"></span> 
                <span class="glyphicon glyphicon-menu-down"></span> 
            </div>
        </div>
        
    </div>
    
    </div>
    