
    <header class="my-4">
        <section class="conteiner">
          <div class="row up-header p-0 m-0 pt-2">
            <div class="col-4 offset-md-2 align-self-center">
                <img src="assets/images/logo.png" alt="Logo">
            </div>
            <div class="col-md-5">
                <div class="row justify-content-end">
                    <div class="col col-md-auto text-primary align-self-end text-uppercase px-0">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a>Schedule an appointment</a></li>
                            <li class="list-inline-item pl-4"><a>Locate a service center</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="row justify-content-end pb-2">
                    <div class="col-md-auto text-uppercase align-self-end px-0">
                        <div class="row p-0 m-0">
                            <div class="col">
                                <span class="align-bottom" style="font-size:10px;">your aamco is</span>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col">
                                <span>taylorsville ut</span>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto align-self-end p-0 m-0">
                        <span class="align-bottom phone">(801) 783.32.80</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="row up-header p-0 m-0">
                <div class="w-100 border border-dark p-0 m-0"></div>
          </div>
          <div class="row navbarb up-header">
                <div class="col">
                    <ul class="nav justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">TRANSMISSION SERVICES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">AUTO CARE & REPAIR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CORPORATE FLEET SERVICES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">EXTENDED WARRANTY SERVICES</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-uppercase main-text text-white">Schedule your next appoimtment</h1>
                    <span class="text-white">Scroll down for details</span>
                    <p class="pb-4 text-white"><i class="fas fa-angle-double-down"></i></p>
                </div>
            </div> 
        </section>
    </header> 