<header class="my-4">    
    <div class="container-fluid">      
        <section class="row up-header">
            <div class="container">
                <div class="row"> 
                    <div class="col align-self-center">
                        <img src="assets/images/logo.png" alt="Logo">
                    </div>
                    <div class="col">
                        <div class="container">
                            <div class="row text-uppercase">
                                <div class="col text-right">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a>Schedule an appointment</a></li>
                                        <li class="list-inline-item pl-4"><a>Locate a service center</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-auto text-uppercase">
                                    <div class="row">
                                        <div class="col">
                                            <span class="align-bottom" style="font-size:10px;">your aamco is</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span>taylorsville ut</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col">
                                            <span class="align-bottom phone">(801) 783.32.80</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row align-items-start up-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">TRANSMISSION SERVICES</a>
                            </li>
                            <li class="nav-item pl-5">
                                <a class="nav-link" href="#">AUTO CARE & REPAIR</a>
                            </li>
                            <li class="nav-item pl-5">
                                <a class="nav-link" href="#">CORPORATE FLEET SERVICES</a>
                            </li>
                            <li class="nav-item pl-5">
                                <a class="nav-link" href="#">EXTENDED WARRANTY SERVICES</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> 
        </section>
        <section class="row">
            <div class="col text-center">
                <h1 class="text-uppercase main-text text-white">Schedule your next appoimtment</h1>
                    <span class="text-white">Scroll down for details</span>
                        <p class="pb-4 text-white"><i class="fas fa-angle-double-down"></i></p>
            </div>
        </section>
    </div>
</header>